.portfolio {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 93px;
    padding-bottom: 94px;
  }

  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $secondary-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__item {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 3 * 30px) / 3);
      margin: 15px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    display: block;
  }

  &__box {
    border: 1px solid #eeeeee;
    cursor: pointer;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 63px;
    top: 0;
    left: 0;
    background-color: $primary-accent-color;
    color: #fff;
    transform: translateY(100%);

    .portfolio__box:hover & {
      transform: translateY(0);
    }

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__filter-element {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    padding-bottom: 20px;
  }

  &__card-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
  }

  &__title {
    margin-top: 20px;
  }

  &__title,
  &__filter-element,
  &__card-text {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.portfolio-filter {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }

  &__button {
    padding: 6px 22px;
    border-radius: 4px;
    border-color: transparent;
    color: $secondary-text-color;
    background-color: #f5f4fa;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $secondary-accent-color;
      background-color: $primary-accent-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (max-width: 767px) {
    &__item {
      margin-bottom: 15px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }
}
