.team {
    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    background-color: #f5f4fa;

    &__title {
        @extend %title;
        margin-bottom: 50px;
    }
    
    &__social-list {
        display: flex;
        justify-content: center;
    }
    
    &__item:not(:last-child) {
        margin-right: 10px;
    }
    
    &__member {
        text-align: center;
    
        &:not(:last-child) {
            @media screen and (max-width: 1199px) {
                margin-bottom: 30px;
            }
        }
    }
    
    &__subtitle {
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
    }
    
    &__member-name {
        margin-top: 30px;
        margin-bottom: 10px;
        color: $secondary-text-color;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
    }
    
    &__member-box {
        @media screen and (max-width: 767px) {
            height: 482px;
        }

        @media screen and (min-width: 768px) {
            height: 422px;
        }
        background-color: #fff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
    
    &__social-link {
        display: flex;
        width: 44px;
        height: 44px;
        background-color: transparent;
        border-radius: 50%;
        color: #afb1b8;
    
        &:hover,
        &:focus {
            background-color: $primary-accent-color;
            color: #fff;
        }
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__icon {
        margin: auto;
        fill: currentColor;
    }
}

